.ipynb_checkpoints
*/.ipynb_checkpoints
dirs.txt
.Rhistory
Data/*
__pycache__/*
**/__pycache__/
Results/*
Graphics/*
Pipes/logs/*
Pipes/.snakemake
Pipes/.ipynb_checkpoints
Pipes/predictions
Pipes/pickles
Pipes/result
Figshare
Figshare.zip
SequenceBenchmark.zip
Data
Data/*
Results
Results/*
zrimec_model_notebook
regev_model_notebook
*.xls
*.csv
Graphics/*
*.*~
Pipes/slurm-status.log
.ropeproject
Models/Xpresso/downloaded/*
Models/Basenji/downloaded/*
